{# templates/base.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
        <!-- Search Wrapper Area Start -->
    <div class="search-wrapper section-padding-100">
        <div class="search-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-content">
                        <form action="/" method="get">
                            <input type="search" name="search" id="search" value="{{ busca}}" placeholder="Digite o texto de busca aqui...">
                            <button type="submit">
                                <img src="img/core-img/search.png" alt="">
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Wrapper Area End -->

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">
        <!-- Header Area Start -->
        <header class="header-area clearfix">
            <!-- ##### Single Widget ##### -->
            <div class="widget catagory mb-50">
                <nav class="amado-nav">
                    <ul>
                        <li class="active">
                            <a href="/">Home</a>
                        </li>
                        {% if app.user %}
                        <li>
                            <a href="/pedidos">Meus Pedidos</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <!-- ##### Single Widget ##### -->
            <div class="widget catagory mb-50">
                <!-- Widget Title -->
                <h6 class="widget-title mb-30">Catagories</h6>

                <!--  Catagories  -->
                <div class="catagories-menu">
                    <ul>
                        {% for categoria in categorias %}
                            {% if app.request.get('categoria') == categoria.id %}
                                <li class="active"><a href="/?categoria={{ categoria.id }}">{{ categoria.nome }}</a></li>
                            {% else %}
                                <li><a href="/?categoria={{ categoria.id }}">{{ categoria.nome }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- Button Group -->
             {% if app.user %}
                <div class="amado-btn-group mt-30 mb-100">
                    <div class="btn amado-btn active">{{ app.user.username}}</div>
                </div>
            {% else %}
                <div class="amado-btn-group mt-30 mb-100">
                    <a href="/login" class="btn amado-btn active">Login</a>
                </div>
            {% endif %}
            <!-- Cart Menu -->
            <div class="cart-fav-search mb-100">
                <a href="/carrinho" class="cart-nav">
                    <img src="img/core-img/cart.png" alt=""> Carrinho
                    {% if app.session.get('quantidadeItens') %}
                        <span>({{app.session.get('quantidadeItens')}})</span>
                    {% else %}
                        <span>(0)</span>
                    {% endif %}
                </a>
                <a href="#" class="fav-nav">
                <a href="#" class="search-nav">
                    <img src="img/core-img/search.png" alt=""> Buscar</a>
            </div>
        </header>
        <!-- Header Area End -->
        

        <!-- Product Catagories Area Start -->
        <div class="products-catagories-area clearfix">
            <div class="amado-pro-catagory clearfix">
                {% for produto in produtos %}
                    <!-- Single Catagory -->
                    <div class="single-products-catagory clearfix">
                        <a href="/detalhes/{{ produto.id }}">
                            <img src="{{ produto.imagem }}" alt="">
                            <!-- Hover Content -->
                            <div class="hover-content">
                                <div class="line"></div>
                                <p>R$ {{ produto.preco}}</p>
                                <h4>{{ produto.nome }}</h4>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Product Catagories Area End -->
    </div>
    <!-- ##### Main Content Wrapper End ##### -->
{% endblock %}